<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LibraryController</servlet-name>
  	<display-name>LibraryController</display-name>
  	<description></description>
  	<servlet-class>com.controller.LibraryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllBook</servlet-name>
  	<display-name>ShowAllBook</display-name>
  	<description></description>
  	<servlet-class>com.controller.ShowAllBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBook</servlet-name>
  	<display-name>DeleteBook</display-name>
  	<description></description>
  	<servlet-class>com.controller.DeleteBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdate</servlet-name>
  	<display-name>UserUpdate</display-name>
  	<description></description>
  	<servlet-class>com.controller.UserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LibraryController</servlet-name>
  	<url-pattern>/LibraryController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllBook</servlet-name>
  	<url-pattern>/ShowAllBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBook</servlet-name>
  	<url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdate</servlet-name>
  	<url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>homes.html</welcome-file>
  </welcome-file-list>
  <error-page>
  <error-code>404</error-code>
  <location>error.jsp</location>
  </error-page>
</web-app>
